[submodule "packages/safe-engine-webgl"]
	path = packages/safe-engine-webgl
	url = git@github.com:Safe-engine/safe-engine-webgl.git
[submodule "packages/safex-webgl"]
	path = packages/safex-webgl
	url = git@github.com:Safe-engine/safex-webgl.git
